@model siva.api.Models.ResumoFinanceiroPorTipoViewModel

<div role="main" class="right_col">
   
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="page-title">
            <div class="title_left">
                <h3>Receita Por Tipo</h3>
            </div>
        </div>
        <div class="x_panel">
            <div class="x_title">
                <h2>Listagem</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <table id="datatable-buttons" class="table table-responsive table-bordered">
                        <thead>
                            <tr>
                                <th>CNPJ/CPF</th>
                                <th>Ref.</th>
                                <th>GIM</th>
                                <th>CTE</th>
                                <th>DAS</th>
                                <th>DASNSIMEI</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.ResumoList)
                            {
                                <tr data-cnpj="@item.NU_CNPJ_FILIAL" data-ref="@item.NU_REFERENCIA" data-gim="@item.GIM" data-cte="@item.CTE" data-das="@item.DAS" data-dasnsimei="@item.DASNSIMEI">
                                    <td>@item.NU_CNPJ_FILIAL</td>
                                    <td>@item.NU_REFERENCIA</td>
                                    <td>@item.GIM</td>
                                    <td>@item.CTE</td>
                                    <td>@item.DAS</td>
                                    <td>@item.DASNSIMEI</td>
                                    <td>
                                        <a href="#" class="cmdGrafico"><span class="fa fa-line-chart" title="ver gráfico"></span></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <canvas id="mybarChart"></canvas>
                </div>
                
                <div class="col-xs-6">
                    <a href="@Url.Action("Index")" class="btn btn-danger">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {

    <!-- Chart.js -->
    <script src="~/Content/vendors/Chart.js/dist/Chart.min.js"></script>

    <!--Datatables-->
    <script src="~/Content/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Content/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/Content/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Content/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/Content/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/Content/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/Content/vendors/datatables.net-scroller/js/datatables.scroller.min.js"></script>
    <script src="~/Content/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/Content/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Content/vendors/pdfmake/build/vfs_fonts.js"></script>
    <script>
        $(document).ready(function () {

            $(".cmdGrafico").on('click', function () {

                var self = $(this).closest('tr').data();

                var tipos = ['GIM', 'CTE', 'DAS', 'DASNSIMEI'];
                var valores = [];

                valores.push(self.gim == '' ? 0 : parseFloat(self.gim.replace(',', '.')));
                valores.push(self.cte == '' ? 0 : parseFloat(self.cte.replace(',', '.')));
                valores.push(self.das == '' ? 0 : parseFloat(self.das.replace(',', '.')));
                valores.push(self.dasnsimei == '' ? 0 : self.dasnsimei);

                var ctx = $("#mybarChart");

                var mybarChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: tipos,
                        datasets: [{
                            label: 'Resumo',
                            backgroundColor: "#03586A",
                            data: valores
                        }]
                    },

                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            });


            var handleDataTableButtons = function () {
                if ($("#datatable-buttons").length) {
                    $("#datatable-buttons").DataTable({
                        dom: "Bfrtip",
                        buttons: [],
                        responsive: true
                    });

                    $("#datatable-buttons").css('width', '');
                }
            };

            TableManageButtons = function () {
                "use strict";
                return {
                    init: function () {
                        handleDataTableButtons();
                    }
                };
            }();

            TableManageButtons.init();
        });

        @Html.Raw(TempData["msg"])

    </script>

}