@model siva.api.Models.ResumoFinanceiroPorTipoViewModel

<div role="main" class="right_col">
   
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="page-title">
            <div class="title_left">
                <h3>Receita Por Tipo</h3><small>Clique no registro para acessar o gráfico</small>
            </div>
        </div>
        <div class="x_panel">
            <div class="x_title">
                <h2>Listagem</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <table id="datatable-buttons" class="table table-responsive table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>CNPJ/CPF</th>
                                <th>Razão Social</th>
                                <th>Ref.</th>
                                <th>GIM</th>
                                <th>CTE</th>
                                <th>DAS</th>
                                <th>DASNSIMEI</th>                                
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.ResumoList)
                            {
                                <tr class="cmdGrafico" style="cursor:pointer;" title="ver Gráfico" data-cnpj="@item.NU_CNPJ_FILIAL" data-razaosocial="@item.NM_RAZAO_SOCIAL" data-ref="@item.NU_REFERENCIA" data-gim="@item.GIM" data-cte="@item.CTE" data-das="@item.DAS" data-dasnsimei="@item.DASNSIMEI">                                    
                                    <td>@item.NU_CNPJ_FILIAL</td>
                                    <td>@item.NM_RAZAO_SOCIAL</td>
                                    <td>@item.NU_REFERENCIA</td>
                                    <td>@item.GIM</td>
                                    <td>@item.CTE</td>
                                    <td>@item.DAS</td>
                                    <td>@item.DASNSIMEI</td>                                    
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>                               
                <div class="col-xs-6">
                    <a href="@Url.Action("Index")" class="btn btn-danger">Cancelar</a>
                </div>
            </div>
        </div>
        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Gráfico</h4>
                    </div>
                    <div class="modal-body">
                        <h4>Receita Por Tipo</h4>
                        <p>CNPJ: <span id="modal_cnpj"></span></p>
                        <p>Razão Social: <span id="modal_razaosocial"></span></p>
                        <p>Referência: <span id="modal_ref"></span></p>
                        <br />
                        <canvas id="mybarChart"></canvas>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {

    <!-- Chart.js -->
    <script src="~/Content/vendors/Chart.js/dist/Chart.min.js"></script>

    <!--Datatables-->
    <script src="~/Content/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Content/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/Content/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Content/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/Content/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/Content/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/Content/vendors/datatables.net-scroller/js/datatables.scroller.min.js"></script>
    <script src="~/Content/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/Content/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Content/vendors/pdfmake/build/vfs_fonts.js"></script>
    <script>

        var chatInstance = {};

        $(document).ready(function () {

            $(".cmdGrafico").on('click', function () {

                var self = $(this);
                
                var tipos = ['GIM', 'CTE', 'DAS', 'DASNSIMEI'];
                var valores = [];

                valores.push(self.data('gim') == '' ? 0 : parseFloat(self.data('gim').replace(',', '.')));
                valores.push(self.data('cte') == '' ? 0 : parseFloat(self.data('cte').replace(',', '.')));
                valores.push(self.data('das') == '' ? 0 : parseFloat(self.data('das').replace(',', '.')));
                valores.push(self.data('dasnsimei') == '' ? 0 : self.data('dasnsimei'));
                
                chatInstance =  buildChart(tipos, valores);
                
                $("#modal_cnpj").text(self.data('cnpj'));
                $("#modal_razaosocial").text(self.data('razaosocial'));
                $("#modal_ref").text(self.data('ref'));
                
                $('.modal')
                    .modal('show')
                        .on('hidden.bs.modal', function () {

                            chatInstance.destroy();

                        });

            });


            var buildChart = function (label, table) {

                return new Chart($("#mybarChart"), {

                    type: 'bar',
                    data: {
                        labels: label,
                        datasets: [{
                            label: 'Resumo',
                            backgroundColor: "#03586A",
                            data: table
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }

                });
            };

            var handleDataTableButtons = function () {
                if ($("#datatable-buttons").length) {
                    $("#datatable-buttons").DataTable({
                        dom: "Bfrtip",
                        buttons: [],
                        responsive: true
                    });

                    $("#datatable-buttons").css('width', '');
                }
            };

            TableManageButtons = function () {
                "use strict";
                return {
                    init: function () {
                        handleDataTableButtons();
                    }
                };
            }();

            TableManageButtons.init();
        });

        @Html.Raw(TempData["msg"])

    </script>

}