@model List<siva.api.Models.CteViewModel>

<div role="main" class="right_col">
    <div>
        <div class="page-title">
            <div class="title_left">
                <h3>CTE - Tomador Expedidor</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Listagem</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table id="datatable-buttons" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Tomador.</th>
                                    <th>Ref.</th>
                                    <th>CFOP</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (siva.api.Models.CteViewModel row in Model)
                                {
                                    <tr>
                                        <td>@row.TomadorExpedidor.NM_TOMADOR_EXPEDIDOR</td>
                                        <td>@row.TomadorExpedidor.NU_PERIODO</td>
                                        <td>@row.TomadorExpedidor.NU_CFOP</td>
                                        <td>@row.TomadorExpedidor.VL_TOTAL_CTE</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <a href="@Url.Action("Index")" class="btn btn-primary">Voltar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {

    <!--Datatables-->
    <script src="~/Content/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Content/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/Content/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Content/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/Content/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/Content/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/Content/vendors/datatables.net-scroller/js/datatables.scroller.min.js"></script>
    <script src="~/Content/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/Content/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Content/vendors/pdfmake/build/vfs_fonts.js"></script>
    <script>
        $(document).ready(function () {

            $(".cmdDetalharGIM").on('click', function () {

                return alert('em desenvolvimento');

            });

            var handleDataTableButtons = function () {
                if ($("#datatable-buttons").length) {
                    $("#datatable-buttons").DataTable({
                        dom: "Bfrtip",
                        buttons: [
                        {
                            extend: "copy",
                            className: "btn-sm"
                        },
                        {
                            extend: "csv",
                            className: "btn-sm"
                        },
                        {
                            extend: "excel",
                            className: "btn-sm"
                        },
                        {
                            extend: "pdfHtml5",
                            className: "btn-sm"
                        },
                        {
                            extend: "print",
                            className: "btn-sm"
                        },
                        ],
                        responsive: true
                    });
                }
            };
            TableManageButtons = function () {
                "use strict";
                return {
                    init: function () {
                        handleDataTableButtons();
                    }
                };
            }();
            $('#datatable').dataTable();
            $('#datatable-keytable').DataTable({
                keys: true
            });
            $('#datatable-responsive').DataTable();
            $('#datatable-scroller').DataTable({
                ajax: "js/datatables/json/scroller-demo.json",
                deferRender: true,
                scrollY: 380,
                scrollCollapse: true,
                scroller: true
            });
            $('#datatable-fixed-header').DataTable({
                fixedHeader: true
            });
            var $datatable = $('#datatable-checkbox');
            $datatable.dataTable({
                'order': [[1, 'asc']],
                'columnDefs': [
                { orderable: false, targets: [0] }
                ]
            });
            $datatable.on('draw.dt', function () {
                $('input').iCheck({
                    checkboxClass: 'icheckbox_flat-green'
                });
            });
            TableManageButtons.init();
        });

        @Html.Raw(TempData["msg"])
    </script>

}