@model siva.api.Models.ResumoFinanceiroViewModel

<div role="main" class="right_col">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="page-title">
            <div class="title_left">
                <h3>Receita Por Período</h3>
            </div>
        </div>
    </div>
    <div class="x_panel">
        <div class="x_title">
            <h2>Listagem</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <table id="datatable-buttons" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>CNPJ/CPF</th>
                            <th>Tipo Receita</th>

                            @foreach (var item in Model.ResumoList[0].ANOS_RECEITA)
                            {
                                <th>@Html.Raw(item.Key)</th>
                            }
                            <th></th>
                        </tr>

                    </thead>
                    <tbody>

                        @foreach (var item in Model.ResumoList)
                        {
                            <tr>
                                <td>@item.NU_CNPJ_FILIAL</td>
                                <td>@item.TP_RECEITA</td>

                                @foreach (var ano in item.ANOS_RECEITA)
                                {
                                    if (ano.Value != null)
                                    {
                                        <td>@Html.Raw(Convert.ToDecimal(ano.Value).ToString("C"))</td>
                                    }
                                    else
                                    {
                                        <td>@Html.Raw(ano.Value)</td>
                                    }
                                }
                                <td>
                                    <a href="#" class="cmdGrafico"><span class="fa fa-line-chart" title="ver gráfico"></span></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <canvas id="mybarChart"></canvas>
            </div>

            <div class="col-xs-6">
                <a href="@Url.Action("Index")" class="btn btn-danger">Cancelar</a>
            </div>
        </div>      
    </div>
</div>

@section scripts {

    <!-- Chart.js -->
    <script src="~/Content/vendors/Chart.js/dist/Chart.min.js"></script>

    <!--Datatables-->
    <script src="~/Content/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Content/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/Content/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Content/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/Content/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/Content/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/Content/vendors/datatables.net-scroller/js/datatables.scroller.min.js"></script>
    <script src="~/Content/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/Content/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Content/vendors/pdfmake/build/vfs_fonts.js"></script>
    <script>
        $(document).ready(function () {

            $(".cmdGrafico").on('click', function () {

                var _data =
                    {
                        codigomunicipio : '@Model.CodigoMunicipio', 
                        cnpj: $(this).closest('tr').find('td:first').html(),
                        anoinicial : '@Model.AnoInicial',
                        anofinal : '@Model.AnoFinal'
                    };

                $.ajax({
                    url: '@Url.Action("GerarGrafico")',
                    type: 'get',
                    data: _data
                }).done(function (data) {

                    var ctx = $("#mybarChart");

                    var anos = [];
                    var valores = [];

                    for (i in data.grafico.ANOS_RECEITA)
                    {
                        anos.push(data.grafico.ANOS_RECEITA[i].Key);
                    }
                                        
                    for (i in data.grafico.ANOS_RECEITA)
                    {
                        if (data.grafico.ANOS_RECEITA[i].Value == 'undefined' || data.grafico.ANOS_RECEITA[i].Value == null) {
                            data.grafico.ANOS_RECEITA[i].Value = 0;
                        }
                        
                        valores.push(data.grafico.ANOS_RECEITA[i].Value);
                    }

                    var mybarChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: anos,
                            datasets: [{
                                label: 'Resumo',
                                backgroundColor: "#03586A",
                                data: valores
                            }]
                        },

                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                    
                }).fail(function (err) {
                    console.log(err);
                });
            });
          
            var handleDataTableButtons = function () {
                if ($("#datatable-buttons").length) {
                    $("#datatable-buttons").DataTable({
                        dom: "Bfrtip",
                        buttons: [],
                        responsive: true
                    });

                    $("#datatable-buttons").css('width', '');
                }
            };

            TableManageButtons = function () {
                "use strict";
                return {
                    init: function () {
                        handleDataTableButtons();
                    }
                };
            }();
           
            TableManageButtons.init();
        });

        @Html.Raw(TempData["msg"])
    </script>

}