@model  siva.api.Models.PrefeituraViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div role="main" class="right_col">
    <div>
        <div class="page-title">
            <div class="title_left">
                <h3>Cadastro de Prefeituras</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Nova Prefeitura</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form class="form-horizontal form-label-left" method="post" action="@Url.Action("Alterar")" novalidate>

                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="municipio">
                                    Município: <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select class="select2_single form-control" tabindex="-1" name="CD_MUNICIPIO" id="CD_MUNICIPIO" required="required">
                                        <option value=""></option>
                                    </select>                                                                                                        
                                </div>
                            </div>
                          
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="prefeitura">
                                    Prefeitura <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(item => item.Prefeitura.NM_PREFEITURA, new { @class  = "form-control col-md-7 col-xs-12", required = "required", name = "NM_PREFEITURA", placeholder = "Informe o nome da prefeitura" })
                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="prefeito">
                                    Prefeito <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">

                                    @Html.TextBoxFor(item => item.Prefeitura.NM_PREFEITO, new { @class = "form-control col-md-7 col-xs-12", required = "required", name = "NM_PREFEITO", placeholder = "Informe o prefeito" })
                                    
                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="secretarioTributacao">
                                    Sec. de Tributação <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">

                                    @Html.TextBoxFor(item => item.Prefeitura.NM_SEC_TRIBUTACAO, new { @class = "form-control col-md-7 col-xs-12", required = "required", name = "NM_SEC_TRIBUTACAO", placeholder = "Informe o secretário de tributação" })
                                    
                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="contador">
                                    Contador <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">

                                    @Html.TextBoxFor(item => item.Prefeitura.NM_CONTADOR, new { @class = "form-control col-md-7 col-xs-12", required = "required", name = "NM_CONTADOR", placeholder = "Informe o contador" })
                                    
                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="logradouro">
                                    Logradouro <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">

                                    @Html.TextBoxFor(item => item.Prefeitura.NM_LOGRADOURO, new { @class = "form-control col-md-7 col-xs-12", required = "required", name = "NM_LOGRADOURO", placeholder = "Informe o logradouro" })
                                    
                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3" for="numero">
                                    Numero <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">

                                    @Html.TextBoxFor(item => item.Prefeitura.NU_NUMERO, new { @class = "form-control col-md-7 col-xs-12", required = "required", name = "NU_NUMERO", placeholder = "Informe o número" })
                                    
                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="complemento">
                                    Complemento <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">

                                    @Html.TextBoxFor(item => item.Prefeitura.TX_COMPLEMENTO, new { @class = "form-control col-md-7 col-xs-12", required= "required", name = "TX_COMPLEMENTO", placeholder = "Informe o complemento" })
                                    
                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="contato">
                                    Contato <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">

                                    @Html.TextBoxFor(item => item.Prefeitura.TX_CONTATO, new { @class = "form-control col-md-7 col-xs-12", required = "required", name = "TX_CONTATO", placeholder = "Informe o contato" })
                                    
                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="numeroHabitantes">
                                    Nº de Habitantes
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-13">

                                    @Html.TextBoxFor(item => item.Prefeitura.NU_HABITANTES, new { @class = "form-control col-md-7 col-xs-12", required = "required", name = "NU_HABITANTES", placeholder = "Informe Nº de habitantes" })
                                    
                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="territorio">
                                    Território
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-3">

                                    @Html.TextBoxFor(item => item.Prefeitura.QT_EXTENSAO_TERRITORIAL, new { @class = "form-control col-md-7 col-xs-12", required = "required", name = "QT_EXTENSAO_TERRITORIAL", placeholder = "Informe território" })
                                    
                                </div>
                            </div>


                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <button id="send" type="submit" class="btn btn-success">Alterar</button>
                                    <a href="@Url.Action("Index")" class="btn btn-danger">Cancelar</a>
                                </div>
                            </div>

                            @Html.HiddenFor(item => item.Prefeitura.SQ_PREFEITURA, new { name = "SQ_PREFEITURA"})
                            @Html.HiddenFor(item => item.Prefeitura.CD_MUNICIPIO, new { name = "hdfCD_MUNICIPIO", id= "hdfCD_MUNICIPIO" })

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {



    <!-- validator -->
    <script type="text/javascript">

        $(document).ready(function () {

            // initialize the validator function
            validator.message.date = 'not a real date';

            // validate a field on "blur" event, a 'select' on 'change' event & a '.reuired' classed multifield on 'keyup':
            $('form')
              .on('blur', 'input[required], input.optional, select.required', validator.checkField)
              .on('change', 'select.required', validator.checkField);

            $('.multi.required').on('blur', 'input', function () {
                validator.checkField.apply($(this).siblings().last()[0]);
            });


            $('form').submit(function (e) {

                e.preventDefault();

                var submit = true;

                // evaluate the form using generic validaing
                if (!validator.checkAll($(this))) {
                    submit = false;
                }

                if (submit)
                    this.submit();

                return false;
            });



            $.ajax({
                url: '@Url.Action("PreencherMunicipio")',
                type: 'get'
            }).done(function (data) {

                var lista = data.municipioList;

                $(".select2_single").select2({
                    data: lista
                }).val($("#hdfCD_MUNICIPIO").val()).change();

                $(".select2_single").on('change', function () {

                    var self = $(this);

                    $("#hdfCD_MUNICIPIO").val(self.val());

                });

            }).fail(function () {
                alert('Não foi possível obter as referências.');
            });

        });


        @Html.Raw(TempData["msg"])

    </script>

}
