@model List<siva.api.Models.CruzamentoViewModel>

<div role="main" class="right_col">
    <div>
        <div class="page-title">
            <div class="title_left">
                <h3>Cruzamento</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Detalhamento</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table id="datatable-buttons" class="table table-striped table-bordered">
                            <thead>
                                <tr>                                    
                                    <th>Nº Processo</th>
                                    <th>CNPJ</th>
                                    <th>Nº Referência</th>
                                    <th>Descrição</th>
                                    <th>Vl. Apurado</th>
                                    <th>Vl. Referência</th>
                                    <th>Vl. Diferença</th>
                                    <th>Vl. Expectativa Receita</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (siva.api.Models.CruzamentoViewModel row in Model)
                                {
                                    <tr>                                        
                                        <td>@row.Detalhamento.NU_PROCESSO</td>
                                        <td>@row.Detalhamento.NU_CNPJ_CPF</td>
                                        <td>@row.Detalhamento.NU_REFERENCIA</td>
                                        <td>@row.Detalhamento.DC_CRUZAMENTO</td>
                                        <td>@row.Detalhamento.VL_APURADO</td>
                                        <td>@row.Detalhamento.VL_REFERENCIA</td>
                                        <td>@row.Detalhamento.VL_DIFERENCA</td>
                                        <td>@row.Detalhamento.VL_EXPECTATIVA_RECEITA</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>

                    <div class="col-xs-6">
                        <a href="@Url.Action("Index")" class="btn btn-danger">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {

    <!--Datatables-->
    <script src="~/Content/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Content/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/Content/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Content/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/Content/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/Content/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/Content/vendors/datatables.net-scroller/js/datatables.scroller.min.js"></script>
    <script src="~/Content/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/Content/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Content/vendors/pdfmake/build/vfs_fonts.js"></script>
    <script>
        $(document).ready(function () {

            var handleDataTableButtons = function () {
                if ($("#datatable-buttons").length) {
                    $("#datatable-buttons").DataTable({
                        dom: "Bfrtip",
                        buttons: [],
                        responsive: true
                    });

                    $("#datatable-buttons").css('width', '');
                }
            };
            TableManageButtons = function () {
                "use strict";
                return {
                    init: function () {
                        handleDataTableButtons();
                    }
                };
            }();
            TableManageButtons.init();
        });

        @Html.Raw(TempData["msg"])
    </script>

}